<template name="posts">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Posts
          <button href="" class="btn btn-info" data-toggle="modal" data-target="#modalPost">New</button>
        </div>
        <div class="panel-body">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Created At</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {{#each listPosts this}}
                <tr>
                  <td>{{title}}</td>
                  <td>{{description}}</td>
                  <td>{{createdAt}}</td>
                  <td><a href="" class="btn btn-xs btn-info">Edit</a></td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  {{> modalPost}}
</template>